[submodule "import/subhook"]
	path = import/subhook
	url = https://github.com/Cxbx-Reloaded/subhook
[submodule "import/cs_x86"]
	path = import/cs_x86
	url = https://github.com/x1nixmzeng/cs_x86
[submodule "import/d3d8to9"]
	path = import/d3d8to9
	url = https://github.com/Cxbx-Reloaded/d3d8to9
[submodule "import/XbSymbolDatabase"]
	path = import/XbSymbolDatabase
	url = https://github.com/Cxbx-Reloaded/XbSymbolDatabase.git
[submodule "import/asmjit"]
	path = import/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "import/zydis"]
	path = import/zydis
	url = https://github.com/zyantific/zydis
